*{ padding:0; margin:0; box-sizing: border-box; font-family: sans-serif; }
header{
	width: 100%;
	height: 100vh;
}

html{
	scroll-behavior: smooth;
}
nav{
	width: 100%;
	height: 70px;
	border-bottom: 1px solid grey;
	box-shadow: 2px 0px 5px grey;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top:0;
	z-index: 1;
	background: rgb(202, 197, 197);
}
.logo{
	font-size: 30px;
	font-weight: bold;
}

.menu a{
	text-decoration: none;
	font-size: 25px;
	color: black;
	padding: 10px 20px;
	margin:5px;
	font-weight: bold;
}
.menu a:last-child{
	background: black;
	color: white;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	transform-origin: center;
	perspective: 2000px;
}

.left{
	flex-basis: 50%;
	animation: animate 3s linear infinite;
}
.left img{
	width: 110%;
	padding-top: 90px;
}

@keyframes animate{
	0%{
		transform: scale(1.1);
	}
		50%{
		transform: scale(1);
	}
		100%{
		transform: scale(1.1);
	}
}

.right{
	flex-basis: 50%;
	max-width: 400px;
	margin-left: 100px;
}

.right h1{
	font-size: 50px;
}
.right p{
	font-size: 25px;
	margin:20px 0px;
}
.button {
	position: relative;
	overflow: hidden;
	height: 3rem;
	padding: 0 2rem;
	border-radius: 1.5rem;
	background: #3d3a4e;
	background-size: 400%;
	color: #fff;
	border: none;
  }
  
  .button:hover::before {
	transform: scaleX(1);
  }
  
  .button-content {
	position: relative;
	z-index: 1;
  }
  
  .button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: 0 50%;
	width: 100%;
	height: inherit;
	border-radius: inherit;
	background: linear-gradient(
	  82.3deg,
	  rgba(150, 93, 233, 1) 10.8%,
	  rgba(99, 88, 238, 1) 94.3%
	);
	transition: all 0.475s;
  }

#featured{
	padding: 50px 0px;
	font-size: 30px;
	text-align: center;

}


.wrapper{
	display: grid;
	grid-template-columns: repeat(4,20%);
	grid-auto-rows: minmax(200px,auto);
	grid-gap: 1em;
	justify-content: center;
	margin-top:10px;
	align-items: center;
}
.wrapper>div{
	border:1px solid rgb(255, 255, 255);
	position: relative;
	overflow: hidden;
}
.wrapper> div img{
	width: 100%;
	
}

.box1{
	grid-row: 1/5;
	grid-column: 1/3;
}

.price{
	position: absolute;
	top: 0;
	left: 0;
	background: rgb(0, 0, 0);
	color: white;
	font-size: 20px;

}
.wrapper> div img:hover{
	transform: scale(1.2);
	transition: 0.4s linear;
}

#man{
	padding: 80px 0px;
}

.man-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.man-box{
	flex-basis: 13%;
	box-shadow: 3px 2px 5px rgb(97, 61, 61);
	padding: 10px;
	text-align: center;
}

.man-box img{
	width: 100%;
}
.man-box h2{
	margin:20px 0px;
}
.man-box h3{
	background: black;
	color: white;
	padding: 10px;
}
.man-box:hover{
	transform: translateY(-20px);
	transition: 0.4s ease;
}
#women{
	padding: 100px 0px;
}
#footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: black;
	color: white;
	padding: 10px;
}













